.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #202022;
  color: white;
  height: 90vh;
  // padding: 25px;
  border-radius: 10px;
  .header {
    text-align: center;
    font-size: 22px;
    padding: 20px 0;
    .title {
      color: white;
      font-weight: 700;
      .subtitle {
        font-weight: 400;
      }
    }
  }
  .sidebarMenuList {
    background-color: #202022;
    border-right: none;
    color: white;
    .ant-menu-submenu-arrow {
      color: white;
    }

    .subMenuList {
      .userTitle {
        img {
        }
        .userName {
          padding: 0 10px;
          color: white;
        }
      }
      .subMenuItem {
        color: white;
        display: flex;
        padding-right: 50px;
        flex-direction: column;
        justify-content: center;
      }
    }
    .sidebarMenuItem {
      border-radius: 20px;
      background-color: none;

      &.ant-menu-item-selected {
        background-color: blue;
        color: white;
        border-radius: 20px;
      }
    }
    .ant-menu-item {
      width: 100%;
    }
  }
  // .sidebarMenuList {
  //   background: none;
  //   border-right: none;
  //   color: white;
  //   padding: 20px 0;
  //   height: 100%;
  //   .sidebarMenuListItem {
  //     div {
  //       padding: 10px 30px;
  //     }
  //     .subMenuList {
  //       background-color: #202022;
  //       .ant-menu-submenu-title {
  //         width: 100%;
  //       }
  //       .submenuItem {
  //         background-color: #202022;
  //       }
  //       .profilePic {
  //         text-align: center;
  //         span {
  //           font-size: 12px;
  //           font-weight: 400;
  //           padding: 0 3px;
  //         }
  //       }
  //     }

  //     .profilePages {
  //       span {
  //         font-size: 12px;
  //         font-weight: 400;
  //         padding: 0 3px;
  //       }
  //     }
  //   }
  // }

  .divider {
    background-color: #656569;
    height: 1pt;

    width: 100%;
  }
}
